:root {
  --color-header-background: #ececec;
  --color-header-text: #6b6b6b;

  --color-red-background: #e4677c;
  --color-red-header-background: #c42d46;

  --color-orange-background: #f8d99e;
  --color-orange-header-background: #e0aa46;

  --color-yellow-background: #e3e992;
  --color-yellow-header-background: #dee046;

  --color-green-background: #83d888;
  --color-green-header-background: #4dc255;

  --color-blue-background: #6fcaff;
  --color-blue-header-background: #25a7f1;

  --color-purple-background: #9682ee;
  --color-purple-header-background: #7055e6;

  --color-black-background: #3a3a3a;
  --color-black-header-background: #1f1f1f;

  --color-gray-background: #949494;
  --color-gray-header-background: #686868;

  --color-white-background: #f1f1f1;
  --color-white-header-background: #d3d3d3;
}
